.header {
  text-align: center;
}

.app-wrapper {
  margin-top: 3rem;
  min-height: 220vh;
  height: 100%;
  background-color: #200f21;
  padding-bottom: 10rem;
}

.element-fade-in-out {
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

@media (min-width: 1980px) {
  .sidebar {
    width: 23vw !important;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 50vw !important;
  }
  .tablebody {
    font-size: large;
    font-weight: bold;
  }
}

@media (max-width: 1300px) {
  .sidebar {
    width: 100vw !important;
  }

  .tablebody {
    font-size: large;
    font-weight: bold;
  }
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
